body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg,#1f195c,#150d2d, #162134) !important;
  color: white !important;
  overflow-x: hidden !important;
  width: 100vw !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  background-color: #0c071b; 
  box-shadow: rgba(10, 39, 171, 1) 0px 0px 20px;
  padding: 1rem;
  border-radius: 5px;
 }

 .techStack{
  color:#0a27ab;
  border:2px solid #0a27ab;
  padding: 0.5rem 2rem;
  /*background-image: linear-gradient(150deg, #0a27ab, #091e43);*/

 }

@tailwind base;
@tailwind components;
@tailwind utilities;